@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    background-color: whitesmoke;
}

header {
    background-color: white;
}

ul.indexUL {
    list-style: none;
    display: inline-block;
    text-align: left;
}

.flashcard {
    width: 555px;
    height: 300px;
    word-wrap: break-word;
    margin: 30px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    padding: 30px;
}

.flashcard h2 {
    font-size: 1rem;
}

@media(max-width: 500px) {
    .flashcard {
        width: 416px;
        height: 300px;
        margin: 23px;
        padding: 23px;
        margin: auto;
    }
    .flashcard {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .carousel-control-prev {
        align-items: flex-end;
        left: 35%;
        bottom: 5%;
    }
    .carousel-control-next {
        align-items: flex-end;
        right: 35%;
        bottom: 5%;
    }
}